<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- List of Text Items -->
  <ion-list>
    <ion-item>
      <ion-label>I am home</ion-label>
      <ion-checkbox color="primary" [(ngModel)]="home"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>Speed</ion-label>
        <ion-input type="number" value="100" [(ngModel)]="speed"></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-radio-group>
      <ion-list-header>
        LED color palette
      </ion-list-header>

      <ion-item (click)="sendRequest(0)">
        <ion-label>Off</ion-label>
        <ion-radio value="Off"></ion-radio>
      </ion-item>
      <ion-item (click)="sendRequest(12)">
        <ion-label>Everything</ion-label>
        <ion-radio value="Everything"></ion-radio>
      </ion-item>
      <ion-item (click)="sendRequest(1)">
        <ion-label>Rainbow</ion-label>
        <ion-radio value="Rainbow"></ion-radio>
      </ion-item>
      <ion-item (click)="sendRequest(2)">
        <ion-label>Rainbow stripes no blend</ion-label>
        <ion-radio value="Rainbow no blend"></ion-radio>
      </ion-item>
      <ion-item (click)="sendRequest(3)">
        <ion-label>Rainbow stripes blended</ion-label>
        <ion-radio value="Rainbow blended"></ion-radio>
      </ion-item>
      <ion-item (click)="sendRequest(4)">
        <ion-label>Red and blue</ion-label>
        <ion-radio value="rab"></ion-radio>
      </ion-item>
      <ion-item (click)="sendRequest(5)">
        <ion-label>Random</ion-label>
        <ion-radio value="random"></ion-radio>
      </ion-item>
      <ion-item (click)="sendRequest(6)">
        <ion-label>Black and white stripes no blend</ion-label>
        <ion-radio value="baw"></ion-radio>
      </ion-item>
      <ion-item (click)="sendRequest(7)">
        <ion-label>Black and white stripes blended</ion-label>
        <ion-radio value="bawb"></ion-radio>
      </ion-item>
      <ion-item (click)="sendRequest(8)">
        <ion-label>Cloud</ion-label>
        <ion-radio value="cloud"></ion-radio>
      </ion-item>
      <ion-item (click)="sendRequest(9)">
        <ion-label>Party</ion-label>
        <ion-radio value="party"></ion-radio>
      </ion-item>
      <ion-item (click)="sendRequest(10)">
        <ion-label>Green, white and blue</ion-label>
        <ion-radio value="rwb"></ion-radio>
      </ion-item>
      <ion-item (click)="sendRequest(11)">
        <ion-label>Green, white and blue blended</ion-label>
        <ion-radio value="rwb"></ion-radio>
      </ion-item>

      <ion-item (click)="sendRequest(13)">
          <ion-label>Fire</ion-label>
          <ion-radio value="fire"></ion-radio>
        </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>