<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
          <ion-label>I am home</ion-label>
          <ion-checkbox color="primary" [(ngModel)]="home"></ion-checkbox>
        </ion-item>
        <br>
        <br>
        <div (click)="fillLeds()" >
        <ion-list-header>
            Fill up LED with
          </ion-list-header>
        <ion-item>
            <ion-label>Green</ion-label>
            <ion-input type="number" value="0" [(ngModel)]="data[0]"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Red</ion-label>
            <ion-input type="number" value="0" [(ngModel)]="data[1]"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Blue</ion-label>
            <ion-input type="number" value="0" [(ngModel)]="data[2]"></ion-input>
        </ion-item>
      </div>
    </ion-list>
</ion-content>
